PORT=8080

APP_CORS_ALLOWED_ORIGINS=http://localhost:5173
APP_DEMO_DATA_ENABLED=true
APP_SECURITY_ENABLED=false

AUTH0_ISSUER_URI=https://DEINE-AUTH0-DOMAIN.eu.auth0.com/

SPRING_DATASOURCE_URL=jdbc:mariadb://SERVER:3306/DATENBANKNAME
SPRING_DATASOURCE_USERNAME=DEIN_USERNAME
SPRING_DATASOURCE_PASSWORD=DEIN_PASSWORT
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.mariadb.jdbc.Driver

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
SPRING_JPA_FORMAT_SQL=false